*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*.idea
*~
.java-version
.DS_Store
*/.DS_Store
.ammonite
.bloop
.bsp/
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
# All the files under .idea/ are ignore. To add new files under ./idea that are not in the VCS yet, please use `git add -f`
.idea/
!.idea/vcs.xml
.idea_modules/
.metals
.project
.pydevproject
.scala_dependencies
.settings
.vscode
/lib/
R-unit-tests.log
R/unit-tests.out
R/cran-check.out
build/*.jar
build/apache-maven*
build/scala*
cache
checkpoint
conf/*.cmd
conf/*.conf
conf/*.properties
conf/*.sh
conf/*.xml
conf/java-opts
conf/slaves
dependency-reduced-pom.xml
derby.log
dev/create-release/*final
dev/create-release/*txt
dev/pr-deps/
dist/
docs/_site/
docs/api
docs/.local_ruby_bundle
sql/docs
sql/site
lib_managed/
lint-r-report.log
lint-js-report.log
log/
logs/
metals.sbt
out/
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/build.properties
project/plugins/src_managed/
project/plugins/target/
python/lib/pyspark.zip
python/.eggs/
python/coverage.xml
python/deps
python/docs/_site/
python/test_coverage/htmlcov
.mypy_cache/
reports/
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
src_managed/
target/
unit-tests.log
work/
docs/.jekyll-metadata
docs/.jekyll-cache

# For SBT
.jvmopts

# For Node.js
node_modules

# For the Storage test
storage/test/